@import "style-basic.css" layer(style-basic);
@import "layout-basic.css" layer(layout-basic);

/* Reduce the main page's max width. */
/* This is more of a "banner" page.  */
@media (orientation: landscape) {
	body { max-width: 38rem; }
}

/*--------------*/
/* Login Header */
/*--------------*/

header {
	position: absolute;
	right: 1.4rem;
	top: -1.2rem;
}

/*--------------*/
/* Intro Splash */
/*--------------*/

.splash {
	padding: 0 1.2rem;
}

.splash > .logo {
	height: 8rem;
	width:  8rem;
}

b.guild { font-size: 1.25em; }
.intro {
	--s-cupcake: 3.2rem;

	position: relative;
	margin: -3.8rem 1.4rem 2.2rem 2.2rem;
	padding: 0.4rem 1.5rem 0.85rem 1.3rem;
	border-radius: 0.6rem;
	
	background-color: var(--c-dark-d-a8);
	transition: background-color var(--t-fade-s) ease-in-out;
	
	font-family: var(--f-rubik);
	letter-spacing: 0.06ex;
}
.intro .highlight { transition: color var(--t-fade-s) ease-in-out; }
.intro .nowrap {
	display: inline-block;
	white-space: nowrap;
}
.intro:hover { background-color: var(--c-dark-d); }
.intro:hover .highlight { color: var(--c-accent-l); }

.intro .nowrap.cupcake { margin-right: var(--s-cupcake); }
.intro .cupcake > img {
	position: absolute;
	bottom: -1.6rem;
	right: 0.8rem;
	height: var(--s-cupcake);
	width:  var(--s-cupcake);

	transition: transform var(--t-scale) ease-in-out;
}
.intro .cupcake > img:hover { transform: scale(160%) rotate(6deg); }
@media (prefers-reduced-motion) {
	.intro .cupcake > img:hover { transform: scale(110%); }
}

/*------------*/
/* Main Links */
/*------------*/

main {
	margin: 3.4rem 0 2.2rem;
}

main > .page-row {
	display: flex;
	margin: 0.8rem 0.2rem;
	flex-flow: row wrap;
	justify-content: center;
	row-gap: 0.6rem;
}

main .page {
	margin: 0.2rem 1.2rem;

	font-weight: 600;
	font-size: 1.4rem;
}
main .page a {
	display: inline-block;

	/* intentionally hiding "visited" color for main page */
	color: var(--c-accent-l);
	transition:
		color     var(--t-scale-f) ease-out,
		transform var(--t-scale-f) ease-out;
}
main .page a:hover  { color: var(--c-light ); transform: scale(110%); }
main .page a:active { color: var(--c-accent); transform: scale(115%); }

main hr { background-color: var(--c-accent-l-a4); }
